@keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes fadeOut{
	from{opacity: 1;}
	to{opacity: 0;}
}

@keyframes scaleOut{
	from{opacity: 1; transform: scale(1.3);}
	2%{opacity: 1; transform: scale(1.0);}
	to{opacity: 0; transform: scale(2.0);}
}

@keyframes scaleOutStart{
	from{opacity: 1; transform: scale(1.0);}
	2%{opacity: 1; transform: scale(0.8);}
	to{opacity: 0; transform: scale(2.0);}
}

@keyframes scaleOutOthers{
	from{opacity: 1; transform: scale(1.0) ; }
	to{opacity: 0; transform: scale(0.0) ; }
}

@keyframes scaleIn{
	from{transform: scale(0) rotate(900deg); }
	to{transform: scale(1) rotate(0deg);}
}

@keyframes optionIn{
	from{ transform: scale(0) rotate(45deg); opacity: 0; }
	to{ transform: scale(1) rotate(0deg); opacity: 1; }
}

@keyframes scalePulse{
	from{transform: scale(1);}
	50%{transform: scale(1.05);}
	to{transform: scale(1);}
}

@keyframes pulseColor{
	from{background-color: #000; color:#fff; text-shadow: 0px 0px 8px #fff;}
	50%{background-color: #0090c6; color:#000; text-shadow: 0px 0px 8px #000;}
	to{background-color: #000; color:#fff; text-shadow: 0px 0px 8px #fff;}
}

@keyframes scaleHover{
	/*from{transform: scale(1);}*/
	100%{transform: scale(1.2);}
}
html{
	border: none;
	background: url("imgs/background.jpg");
	background-size: 65%;
	height: 100%;	
}
div{
	-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@font-face {
    font-family: baseFont;
    src: url(baltazar.ttf);
}

.mainBack{
	margin: auto;
	margin-top: 10px;
	width: 900px;
	/*background-color: #000;*/
	background: url("imgs/img-1.jpg");	
	border-radius: 4px;
	box-shadow: 0px 0px 3px 3px #000;
	height: 550px;	
	font: 54px baseFont;	
	text-align: center;
	/*opacity: 0.5;*/
	position: relative;
}



.mainBackOverlayImage{
	position: absolute;
	margin-top: 0px;
	background: url("imgs/img-1.jpg");	
	width: 900px;
	height: 550px;	

}


.questionTextDiv{
	background-color: rgba(0,0,0,0.6);
	border-radius: 4px;
	box-shadow: 5px 2px 5px #000;	
	position: relative;
	margin: auto;
	width: 900px;
	top: 00%;
	text-align: center;
	padding: 0px 0 10px 0;

}

.questionText{
	color: #cef2ff;
	text-shadow: 0px 0px 5px #42ccff;
	padding: 15px 10px 0px 10px;
	overflow: hidden;	
	text-overflow: ellipsis;
	word-break: break-all;
	transition: 0.8s;
}

.questionTitle{	
	background-color: rgba(0,0,0,0.6);
	width: 32%;
	margin: auto;
	border: 1px solid #cef2ff;
	box-shadow: 0px 0px 2px #cef2ff;
	border-radius: 4px 4px 4px 4px;	
	position: relative;
	top: 10px;
	padding: 10px 0 14px 0;
	font-size: 35px;
	line-height: 30%;
	color: #cef2ff;
	text-shadow: 0px 0px 5px #42ccff;
}

.butttonMuteDiv{
	width: 900px;
	margin: auto;
	text-align: right;
	margin-top: 8px;
}


.buttonMute{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background: url("imgs/volume.png") center no-repeat #000 ;
	background-size: 60%;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #000;
	border: none;
	outline: none;
	transition: 0.2s;
}
.buttonMute:hover{
	background: url("imgs/volume.png") center no-repeat #000 ;
	background-size: 75%;
	transition: 0.3s;
}

.animatedFadeIn{
	animation: fadeIn 1s forwards;
}

.answersArea{
	position: absolute;
	margin-top: 10px;
	padding: 10px;
	height: 380px;
	width: 98%;

	/*background-color: #fff;*/
}

.optionText{
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 2px #000;
	border-radius: 4px;	
	position: absolute;
	font-size: 20px;
	color: #00baff;
	padding: 10px 10px;
	text-shadow: 0px 0px 5px #000;
	transition: 0.3s;
	text-align: center;
	max-width: 200px;

}

.optionTextHover:hover{
	background-color: rgba(0,0,0,0.95);
	transform: scale(1.3);
	text-shadow: 0px 0px 5px #fff;
	transition: 0.3s;
	color: #fff;

}





.introText{
	position: relative;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0px 0px 2px #000;
	border-radius: 4px;	
	cursor: default;
	font-size: 35px;
	padding: 10px 10px;
	max-width: 670px;	
	margin: auto;
	margin-top: 25px;
	display:inline-block;
	transition: 0.3s;
	text-align: center;
	white-space: pre-wrap;
	color: #00baff;
	text-shadow: 0px 0px 5px #000;
}
.startQuiz{
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0px 0px 2px #000;	
	border-radius: 4px;	
	font-size: 40px;
	color: #a1dfff;	
	padding: 5px 5px;
	width: 170px;	
	margin: auto;
	margin-top: 24px;
	display:block;
	text-shadow: 0px 0px 2px #000;	
	transition: 0.2s;
	text-align: center;
	white-space: pre-wrap;	
	border: 2px solid #000;
	cursor: pointer;
}
.startQuizHoverClass:hover{
	background-color: rgba(0,0,0,0.9);
	color: #00baff;	
	text-shadow: 0px 0px 8px #000;
	font-size: 45px;	
	width: 200px;	
	transition: 0.3s;	
}

.questionsMap{
	position: absolute;
	top:520px;
	width: 100%;
	height: 35px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 0px 4px #000;

}

.questionIcon{
	font-size: 25px;
	width: 25px;
	height: 25px;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 2px #000;
	border-radius: 3px;
	position: absolute;
	top: 1px;
	color: #00baff;
	border: 1px solid #0058b3;
}
.activeQuestion{
	/*background-color: #fff ;*/
	color: #fff;
	text-shadow: 0px 0px 8px #fff;
	border: 1px solid #0093c9;
	animation: pulseColor 2s ease infinite;
}
.correctAnswer{
	background-color: #00984b ;
	color: #fff;
	text-shadow: 0px 0px 8px #fff;
	border: 1px solid #000;
	animation: pulseColor 2s ease infinite;
	transition: 0.3s;
}
.wrongAnswer{
	background-color: #981500 ;
	color: #fff;
	text-shadow: 0px 0px 8px #fff;
	border: 1px solid #000;
	animation: pulseColor 2s ease infinite;
	transition: 0.3s;
}

.scaleIn{
	animation: scaleIn 2s forwards;

}

.optionIn{
	animation: optionIn 2s forwards;

}

.hidden{
	display: none;
}